* {
    box-sizing: border-box;
}

body {
    background-color:  #0ea0f5;
    font-family: 'Open Sans', sans-serif;
}

header > .container > nav > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 24px;
    margin: 25px;
    color: white;
}

.blue , .yellow {
    margin-top: -30px;
}

.blue:hover {
    cursor: pointer;
    color: blue;
}

.blue:active {
    cursor: default;
}

.yellow:hover {
    cursor: pointer;
    color: yellow;
}

.yellow:active {
    cursor: default;
}

header {
    background-color: black;
    width: 40%;
    height: 80px;
    padding-top: 0px;
    margin-left: -1%;
    margin-top: -20px;
    border-radius: 0px 4px 4px 0px;
}

.main-text {
    margin-top: 10%;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: #0047ab;
    text-transform: uppercase;
}

h1 > span {
    color: #ffc627;
}

p {
    color: #007849;
    text-align: center;
}

h2 {
    color:#0047ab;
    text-transform: uppercase;
    text-align: center;
}

.banks {
    text-align: center;
    margin-top: 60px;
    background-color: rgb(47, 255, 116);
}

.bank {
    border-radius: 10px;
    margin: 10px;
}

.banks > img:hover {
    cursor: pointer;
}

.banks > img:active {
    cursor: default;
}

h3 {
    color: #ffc627;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.yellow > a:hover {
    cursor: pointer;
    color: #ffc627;
}

a:active {
    cursor: default;
}

.blue > a:hover {
    cursor: pointer;
    color: blue;
}

.blue:active {
    cursor: default;
}

.projects {
    text-align: center;
}

.project {
    display: inline-block;
}

h4 {
    color: white;
    font-size: 24px;
}

.info > h3 {
    font-size: 50px;
}

.info > p {
    color: black;
    font-size: 50px;
    padding-top: -10px;
}

.info > p > span {
    color: blue;
}
.info > p > span {
    color: blue;
}